<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>{{ stylists.getStylistName }}</title>
    </head>
    <body>
        <div class='container'>
            <h1>{{ stylists.getStylistName }}'s Clients:</h1>

            {% if clients is not empty %}

                {% for client in clients %}
                    <h3>{{ client.getClientName }}</h3>
                {% endfor %}

            {% else %}
                <p>No clients added yet!</p>

            {% endif %}

            <form action='/clients' method='post'>
                <input type='hidden' name='stylist_id' value='{{ stylists.getId() }}'>

                <input type='text' name='client_name' placeholder='Client Name'>
                <button type='submit'>Add Client</button>
            </form>

            <p><a href='/'>Home</a></p>

        </div>
    </body>
</html>
